<div class="jumbotron">
  <h1>Bem vindo a Equipa-Campus</h1>
  <p>Seu site para aluguel de equipamentos é aqui!</p>
  <p>
  <%= link_to 'Peça seu orçamento', new_budget_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
